.calcBody{
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #242627;
    padding: 10px;
    border-radius: .5em;
}

.container>div{
    height: 100px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d2d2d0;
    border-radius: 1em;
    display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
    
}
.container>div:hover{
    box-shadow: inset 0 0 5px #000000;
}
.display{
    border-style: solid;
    background-color: aliceblue;
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: scroll;
    padding-top: 1em;
    height: 2em;
    user-select: none;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "clear clear . ."
      "seven eight nine divide"
      "four five six multiply"
      "one two three subtract"
      "decimal zero equal add";
      text-align: center;
      font-size: 3em;

      padding: .5em 10px 1em 10px;
      user-select: none;
  }
  
  .seven { grid-area: seven; }
  
  .eight { grid-area: eight; }
  
  .nine { grid-area: nine; }
  
  .four { grid-area: four; }
  
  .five { grid-area: five; }
  
  .six { grid-area: six; }
  
  .one { grid-area: one; }
  
  .two { grid-area: two; }
  
  .three { grid-area: three; }
  
  .divide { grid-area: divide; 
    background-color: #ff9500 !important;}
  
  .multiply { grid-area: multiply; 
    background-color: #ff9500 !important;}
  
  .subtract { grid-area: subtract; 
    background-color: #ff9500 !important;}
  
  .add { grid-area: add; 
    background-color: #ff9500 !important;}
  
  .equal { grid-area: equal; }
  
  .zero { grid-area: zero; }
  .decimal { grid-area: decimal; }
  
  .clear { grid-area: clear; }
  